@mixin icon($width, $height, $name) {
  display: block;
  text-indent: -9999px;
  width: #{$width}px;
  height: #{$height}px;
  background-color: $black;
  -webkit-mask-image: url("../../svg/#{$name}.svg");
  mask-image: url("../../svg/#{$name}.svg");
  // background: url(../svg/#{$name}.svg);
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
}

@function border() {
  @return 1px solid $border-color;
}
