.header {
  background-color: $black;
  padding: 15px 0;
  .container-fluid {
    display: flex;
    align-items: center;
  }
  .cart {
    cursor: pointer;
    z-index: 1990000;
    display: flex;
    margin-left: auto;
    position: relative;
    right: 32px;
    &:hover {
      &::after {
        background-color: $accent-dark;
      }
    }
    &::after {
      content: "1";
      background-color: $accent;
      border-radius: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;
      font-size: 8px;
      width: 14px;
      height: 14px;
      left: -9px;
      position: relative;
      line-height: 14px;
      top: -7px;
    }
  }
}
