@each $icon in $icon_arr {
  .#{$icon} {
    @include icon(40, 40, #{$icon});
  }
}

.shopping-cart {
  background-color: $white;
  width: 18px;
  height: 16px;
}

.check {
  background-color: $white;
  width: 9px;
  height: 7px;
}
