.left-block {
  margin: $indent 0;

  .slider {
    width: fit-content;
    box-shadow: 0 0 60px rgba($color: #000000, $alpha: 0.07);
    width: 100%;
    overflow: hidden;
    height: 100%;
    position: inherit;
    .image-wrapper {
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
    .bullets {
      display: flex;
      .bullet {
        margin: 8px;
        width: 8px;
        height: 8px;
        border: 1px solid $white;
        border-radius: 2px;
        &.active {
          background-color: $white;
        }
        &:hover {
          background-color: $light-gray;
        }
      }
    }
  }
}
