@import "vars";

/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
}

// ≥1000px
@include media-breakpoint-down(md) {
}

// ≥768px
@include media-breakpoint-down(sm) {
  .right-block {
    margin-left: 0;
    margin-right: 0;
  }
}

// ≥576px
// Стили исключительно для телефонов
// @include media-breakpoint-down(xs) {
@include media-breakpoint-down(sm) {
}

/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {
}

// ≤768px
@include media-breakpoint-up(md) {
}

// ≤1000px
@include media-breakpoint-up(lg) {
}

// ≤1200px
@include media-breakpoint-up(xl) {
}
