.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(
    $color: #767676,
    $alpha: 1
  ); /* Black background with opacity */
  z-index: 9999992;
  cursor: pointer;
  .card {
    padding: 30px 40px 40px 40px;
    .title {
      max-width: 230px;
      line-height: 18px;
      text-align: center;
    }
  }
}

.info-overlay {
  background-color: $white;
  cursor: default;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  padding: 30px;
  margin-left: 15px;
  .back {
    cursor: pointer;
    display: flex;
    .caret {
      width: 15px;
      height: 15px;
      margin-right: 10px;
    }
  }
  p {
    max-width: 900px;

    line-height: 25px;
  }
}
