.right-block {
  background-color: $white;
  margin-right: -$indent/2;
  margin-left: $indent/2;
  border-left: border();
  padding: 0;
  .attributes {
    padding: $indent $indent/2;
    border-bottom: border();
    .item {
      margin-bottom: $indent/2;
    }
    .attribute-class-button {
      cursor: pointer;
      border-radius: 5px;
      outline: none;
      border: none;
      padding: $indent/6 $indent/3;
      box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
      transition: all 200ms ease-in-out;
      &:hover {
        box-shadow: 3px 0 5px rgba($color: #fff, $alpha: 0.1);
      }
    }
  }

  .info {
    display: flex;
    background-color: $accent;
    align-items: center;
    &-button {
      cursor: pointer;
      padding: 17px 25px;
      background-color: $accent;
      &:hover {
        background-color: $accent-dark;
      }
      .icon-information {
        width: 7px;
        height: 20px;
        background-color: $white-pure;
      }
    }
    .text {
      position: relative;
      top: -1px;
      padding-left: 25px;
      width: 100%;
      // text-align:center;
      color: $white-pure;
    }
  }

  .cards {
    padding: $indent;
    .card {
      position: relative;
      border: none;
      .img-wrapper {
        &:hover {
          transition: all 150ms ease-in-out;
          transform: scale(1.1);
          box-shadow: 0 5px 10px rgba($color: $black, $alpha: 0.7);
        }
        min-height: 85px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        position: relative;
        .check-box {
          position: absolute;
          background-color: $accent;
          top: 5px;
          right: 5px;
          padding: 4px 3px 4px 4px;
        }
      }
      .layout {
        padding: 10px 5px;
        color: $white;
        width: 100%;
        background-color: rgba($color: $black, $alpha: 0.4);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    }
  }
}
