.sidenav---sidenav---_2tBP {
  padding-top: 58px;
  left: inherit !important;
  right: 0 !important;
  position: fixed !important;
  background-color: $black !important;
  color: $white !important;
  max-width: 0px !important;
  min-width: 0px !important;
  transition: all 0.2s !important;
  .side-menu-toggle {
    height: 58px !important;
    position: fixed;
    right: 0;
    float: right !important;
    z-index: 1111111111;
    top: 0;
  }
  .nav-item {
    padding: 0 85px;
    border-top: 1px solid #282828;
    background-color: #212121 !important;
    text-align: center;
    transition: background-color 0.2s;
    &:last-child {
      border-bottom: 1px solid #282828;
    }
    &:hover {
      background-color: $accent !important;
    }
  }
  .sidenav---navtext---1AE_f {
    color: $white !important;
  }
}
.sidenav---expanded---1KdUL {
  &.sidenav---sidenav---_2tBP {
    min-width: fit-content !important;
    right: 0 !important;
  }
}
