.tabs {
  border-top: 1px solid $border-color;
  overflow: hidden;
  .container-fluid {
    display: flex;
  }
  .tab {
    position: relative;
    top: -1px;
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
    z-index: 0;
    .title {
      padding: 0 15px;
      height: 60px;
      text-align: center;
      justify-content: center;
      align-items: center;
      display: flex;
      width: 100%;
      margin: 0 -0.5px;
      border: 1px solid $border-color;
    }
    &::after {
      // margin: 0 1px;
      bottom: -4px;
      content: "";
      width: 100%;
      border-left: 1px solid $white;
      border-right: 1px solid $white;
      background-color: $accent;
      height: 3px;
    }
    &.current-page {
      z-index: 1;
      background-color: $accent;
      color: $white-pure;
      box-shadow: 0px 4px 60px #{$accent + "6e"};
      .title {
        border: none;
      }
      &:after {
        display: none;
      }
    }
    &.next-page {
      &::after {
        background-color: $pink;
      }
    }
  }
}
