$default-font: "roboto-slab", sans;

$accent: #00b6ff;
$accent-dark: #00abf0;
$black: #1a1a1a;
$white-pure: #ffffff;
$white: #fcfcfc;
$light-gray: #f8f8f8;
$green: #8abe53;
$pink: #ff8182;
$border-color: #e3e3e3;
$gray: #aaa;

$indent: 30px;
$icon_arr: ("shopping-cart", "icon-information", "caret", "check");

$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1000px,
  xl: 1200px,
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
);

$gutter: $grid-gutter-width;

$button-width: 230px;
