@import "vars";
@import "fonts";
@import "libs";
@import "_mixins/_common";

::placeholder {
  color: #666;
}

::selection {
  background-color: $accent;
  color: #fff;
}

html {
  overflow-y: scroll;
}
body {
  font-size: 14px;
  line-height: 16px;
  min-width: 320px;
  position: relative;
  font-family: $default-font;
  background-color: $light-gray;
  overflow-x: hidden;
  color: $black;
}

button {
  outline: none;
  border: none;
  border-radius: 3px;
}
.text-smaller {
  font-size: 12px;
  line-height: 14px;
}
.container-fluid {
  padding: 0 $indent;
}

.pink {
  color: $pink;
  &-bg {
    background-color: $pink;
    color: $white;
    &.button {
      transition: all 0.2 ease-in-out;
      &:hover {
        box-shadow: none;
      }
    }
  }
}
.shadow {
  box-shadow: 0 4px 10px rgba($color: #000000, $alpha: 0.07);
}
.accent {
  color: $accent;
  &-bg {
    color: $white !important;
    background-color: $accent !important;
    &.button {
      transition: all 0.2 ease-in-out;
      &:hover {
        background-color: $accent-dark !important;
        box-shadow: none;
      }
    }
  }
}

.gray {
  color: $gray;
  &-bg {
    background-color: $gray !important;
  }
}

.button {
  padding: 10px 40px;
  cursor: pointer;
}

@import "icons";
@import "side-menu";
@import "overlay";
@import "content";
@import "left-block";
@import "right-block";
@import "header";
@import "tabs";
@import "media";
